@model List<Product>

<table class="styled-table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Size</th>
            <th>Price</th>
            <th>Manufacturing Date</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.ProductName</td>
                <td>@product.Size</td>
                <td>@product.Price</td>
                <td>@product.MfgDate</td>
                <td>@product.Category</td>
            </tr>
        }
    </tbody>
</table>
